#userinput {max-width: 500px; 
            margin: auto; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center;
            /* height: 90vh;} */}

#linkbutton, 
#linkbutton-left,
#linkbutton-right {width: auto;
             background: none;
             color: var(--link-text-color);}

#linkbutton-left {justify-content: flex-start;}
#linkbutton-right {justify-content: flex-end;}

#linkbutton:hover, #linkbutton-left:hover, #leftbutton-right:hover {color: var(--link-text-color-hover);}

#canelbutton {width: auto;
              background: none;
              position: absolute;
              right: 0;
              font-size: var(--text-xxl);
              color: var(--block-info-text-color);
              z-index: 999;}


#searchbutton {width: auto;
               min-width: auto;}

#searchbox {max-width: 30vw;}

#patientheader {align-items: center;}

#account-create-action {width: auto;
                       gap: 0px;}

                       /* Chrome, Safari, Edge, Opera */
#simplenum input[type="number"]::-webkit-outer-spin-button,
#simplenum input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Makes the sample row smaller */
#tablerowfix .table-wrap {--cell-width-2: 100px !important; }

#tablerowfix table {overflow-x: auto; }

#iconbutton {min-width: min(52px,100%);}
#iconbutton img {margin-right: 0px;}

/* Firefox */
#simplenum input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

.main {flex-direction: row !important;
       align-items: center;}

footer {display: none !important}